
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ✅ Regla global simple: si está autenticado, puede leer/escribir
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
