@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 33% 97%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 210 44% 77%;
    --primary-foreground: 210 10% 23%;
    --secondary: 210 30% 90%;
    --secondary-foreground: 210 10% 23%;
    --muted: 210 30% 90%;
    --muted-foreground: 210 10% 45%;
    --accent: 246 44% 82%;
    --accent-foreground: 210 10% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 0 0% 100%;
    --ring: 246 44% 82%;
    --radius: 0.5rem;
    
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 210 20% 94%;
    --sidebar-foreground: 210 10% 23%;
    --sidebar-primary: 210 44% 77%;
    --sidebar-primary-foreground: 210 10% 23%;
    --sidebar-accent: 210 30% 88%;
    --sidebar-accent-foreground: 210 10% 15%;
    --sidebar-border: 210 15% 85%;
    --sidebar-ring: 246 44% 82%;
  }

  .dark {
    --background: 210 10% 12%;
    --foreground: 0 0% 98%;
    --card: 210 10% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 210 10% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 44% 77%;
    --primary-foreground: 210 10% 15%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 10% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 246 44% 82%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 30%;
    --ring: 246 44% 82%;
    
    --sidebar-background: 210 10% 17%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 210 44% 77%;
    --sidebar-primary-foreground: 210 10% 15%;
    --sidebar-accent: 210 10% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 210 10% 30%;
    --sidebar-ring: 246 44% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
